@tailwind base;
@tailwind components;
@tailwind utilities;

.half-circle {
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 3px solid #f60;
    border-bottom: 0;
    transform: rotate(-90deg);
    height: 25px;
    width: 45px;
    position: relative;
    top: 4.5px;
    left: 35px;
}

.boost {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@layer base {
    .section {
        @apply py-12 lg:h-screen lg:py-16
    }
}